.hide{
	display: none;
}

.center{
	text-align: center;
	margin: auto;
}

.header{
	margin-bottom: 10px;
	text-transform: uppercase;
}
.drop_zone {
  border: 5px dashed grey;
  width:  500px;
  height: 500px;
  margin:auto;
  margin-bottom: 20px;
}

div{
	padding: 5px;
	margin:5px;
}